.ph-img-item {
  position: relative;
  width: 25%;
  padding: 1vw;
  box-sizing: border-box;
  height: 24vw;
  .ph-img-ctn {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .ph-img-option {
    position: absolute;
    top: -3px;
    right: -2px;
    .ph-img-delete {
      background: url(./icon.png)  110px 0;
      background-size:cover;
      height: 20px;
      width: 20px;
      display: inline-block;
      border-radius: 20px;
      text-align: center;
    }
  }
}

.ph-img-list {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  .ph-img-count {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 2px 5px;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    background: rgba(0,0,0,0.8);
  }
  .ph-img-empty {
    flex: 1;
    text-align: center;
    color: #ccc
  }
}

.ph-img-slider {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #000;
  .ph-img-slider-option, .ph-img-slider-pager {
    position: fixed;
    left: 0;
    z-index: 99;
    width: 100%;
    line-height: 30px;
  }
  .ph-img-slider-option {
    top: 30px;
    .ph-img-return {
      display: inline-block;
      margin-left: .97rem;
      color: #fff;
      text-decoration: none;
      &:before {
        margin-top: 3px;
        margin-right: 10px;
        float: left;
        content: " ";
        width: 13px;
        height: 1.5rem;
        line-height: 1.5rem;
        background: url(./icon.png) 0 0;
        background-size:cover;
      }
    }
  }
  .ph-img-slider-animation {
    transition: transform 0.3s ease-out;
  }
  .ph-img-slider-ctn {
    // 动态计算高度和宽度
    .ph-img-item {
      float: left;
      padding: 0;
      z-index: 1;
      text-align: center;
      .ph-img-ctn {
        transform-origin: 0 0 0;
        transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
        transition-duration: 0ms;
        transform: translate(0px, 0px) scale(1) translateZ(0px);
        .ph-img {
          max-width: 100%;
          vertical-align: middle;
        }
      }
    }
  }
  .ph-img-slider-pager {
    bottom: 30px;
    color: #fff;
    text-align: center;
    >span {
      border: 1px solid #fff;
      border-radius: 15px;
      padding: 0.3rem .9rem;
    }
  }
}